.myForm{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    padding-left: 10%;
}